/target/
/project/target/
/project/project/
/benchJoern/target/
/domain-classes-generator/target/
/domain-classes-generator-codescience/target/
/odb-convert/target/
/joern-generated/target/
/codescience-generated/src/main/scala
/codescience-generated/target/
/benchmarks/target/
/core/target/
/schema/target/
/domain-classes-generator*/target/
/sbt-flatgraph/target/
/cpg.bin
/cpg.bin.tmp
/cpg.fg
/out.json
/jmhResults.txt
/odb1Results.txt
/odb2Results.txt
/flatgraphResults.txt
