/target/
/project/target/
/project/project/
/benchJoern/target/
/schemaGen/target/
/odbConvert/target/
/joernGenerated/target/
/codescienceGenerated/target/
/benchStuff/target/
/core/target/
/cpg.bin
/cpg.bin.tmp
/odb1Results.txt
/odb2Results.txt
