/target/
/project/target/
/project/project/
/benchJoern/target/
/schema-gen/target/
/schema-gen-codescience/target/
/odb-convert/target/
/joern-generated/target/
/codescience-generated/src/main/scala/generated
/codescience-generated/target/
/benchmarks/target/
/core/target/
/cpg.bin
/cpg.bin.tmp
/cpg.fg
/out.json
/jmhResults.txt
/odb1Results.txt
/odb2Results.txt
